.logo img {
    width: 300px;
    justify-content: center;
}

.logo{
    font-family: 'Bagel Fat One', cursive;
    color: #F9C74F;
    font-size: 10vh;
    margin: 0;
    
    
}

/* .container{
    background-color: rgb(52, 119, 153, .8);
    
} */


.Background {
    background-image: url('../Assets/PullUPCourt.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    
}

.tagline {
    margin: 0;
    font-family: 'Bagel Fat One', cursive;
    font-size: 5vh;
    color: #fff;
    margin-bottom: 20px;
}


form {
    background-color: transparent;
    /* Keep form background transparent */
}

.form-group {
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;  /* horizontal */
      align-items: center;      /* vertical */
      
}

.form-control {
    border-radius: 4px;
}

.button-group button {
    font-family: 'Bagel Fat One', cursive;
    background-color: #284a6a80;
    border: 2px solid #1919194a;
    color: #eee4db;
    font-weight: bold;
    padding: 0.75rem 1rem;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex: 1; /* Optional: makes buttons evenly spaced */
    font-size: 1rem;
    
  }
.profile-button{
    width: 9rem;
    margin-top: 6px;
    margin-left: 77px;
}
  .button1{
    margin-right: .2rem;
  }

button:hover {
  background-color: #284a6ad1; /* Slightly less transparent */
  transform: scale(1.03); /* Grows slightly on hover */
}
